@charset "utf-8";
@import url(../css/reset.css);

/* for using Hiragino Sans w3*/
/*
font-family: "hiragino-kaku-gothic-pron", sans-serif;
font-weight: 300;
font-style: normal;
*/

/* for using Noto Sans JP */
/*
font-family: 'Noto Sans JP', sans-serif;
*/
/* for using Josefin Sans */
/*
font-family: 'Josefin Sans', sans-serif;
*/

.wave_top {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateY(1px);
}
.wave_top svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #eb51c2;
}
.wave_bottom {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateY(-1px);
}
.wave_bottom svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #eb51c2;
}