@charset "utf-8";
@import url(../css/reset.css);

/* for using Hiragino Sans w3*/
/*
font-family: "hiragino-kaku-gothic-pron", sans-serif;
font-weight: 300;
font-style: normal;
*/

/* for using Noto Sans JP */
/*
font-family: 'Noto Sans JP', sans-serif;
*/
/* for using Josefin Sans */
/*
font-family: 'Josefin Sans', sans-serif;
*/

body {
    font-family: hiragino-kaku-gothic-pron, sans-serif;
    font-weight: normal;
    background-color: #fff;
}

.fff {
    color: #fff;
}
.pink {
    color: #eb51c2;
}
.green {
    color: #00B21B;
}
.br_sp {
    display: block;
}
@media screen and (min-width: 600px) {
    .br_sp {
        display: none;
    }
}
.reg_btn {
    display: block;
    width: 220px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    padding: 14px 0;
    color: #fff;
    background-color: #eb51c2;
    text-decoration: none;
    border-radius: 20px;
}
.reverse {
    color: #eb51c2;
    background-color: #fff;
}
.wave_top {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateY(1px);
}
.wave_top svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #eb51c2;
}
.wave_bottom {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateY(-1px);
}
.wave_bottom svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #eb51c2;
}
.inner {
    display: block;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin: 0 auto;
}
.inner::after {
    content: '';
    clear: both;
    display: block;
}

/*header*/
header {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: fixed;
    background-color: transparent; /*To Do: fixed, #fff*/
    z-index: 999;
}
header .inner {
    position: relative;
}
a#header_logo img {
    display: block;
    width: 96px;
    height: 12px;
    position: absolute;
    top: 24px;
    left: 0;
}
a#header_link {
    display: none; /*To Do: fixed, display block*/
    position: absolute;
    top: 7.5px;
    right: 0;
}
@media screen and (min-width: 600px) {
    a#header_link {
        display: none;
    }
}
/*header fixed*/
header.fixed {
    background-color: #fff;
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}
/* fadeIn animation*/
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}
header.fixed a#header_link {
    display: block;
}
.trainer .inner, .price .inner {
    display: block;
    background: #eb51c2;
}

/*top*/
.top {
    display: block;
    width: 100%;
    height: 80vh;
    min-height: 798px;
}
.top .inner {
    position: relative;
}
.top_image {
    display: block;
    width: 67.5%;
    height: 410px;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: -1;
}
.top_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 50px;
}
.top h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    line-height: 44px;
    font-style: italic;
    font-weight: normal;
    position: absolute;
    top: 161px;
    background-color: #fff;
}
.top_sub {
    width: 232px;
    background-color: #fff;
    position: absolute;
    top: 259px;
    font-size: 13px;
    line-height: 17px;
}
a#top_link {
    position: absolute;
    top: 293px;
}
.top h2 {
    display: block;
    width: 274px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 56px;
    line-height: 57px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 389px;
    left: calc(50% - 137px);
}
.top h3 {
    width: 250px;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0.1em;
    position: absolute;
    top: 503px;
    left: calc(50% - 125px);
    text-align: center;
}
.top_text {
    font-size: 15px;
    line-height: 26px;
    position: absolute;
    top: 547px
}
/*about*/
.about .inner {
    width: 100%;
    max-width: 100%;
}
.about .item::after {
    content: '';
    clear: both;
    display: block;
}
.about .item {
    margin-bottom: 40px;
}
.about .item img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 9;
}
.about .item_text {
    display: block;
    width: calc(100% - 54px);
    background-color: #fff;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
    margin-left: 27px;
    padding: 39px 30px 72px;
    border-radius: 8px;
    float: left;
    position: relative;
    z-index: 10;
}
.about .item:nth-of-type(2) .item_text {
    padding-bottom: 49px;
}
.about .item_text h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: normal;
}
.about .item_text h2 {
    font-size: 22px;
    line-height: 31.5px;
    font-weight: normal;
    margin-top: 15px;
}
.about .item_text p {
    font-size: 14px;
    line-height: 23px;
    margin-top: 22px;
}
a#about_link {
    padding: 18px 0;
    width: calc(100% - 40px);
    margin: 0 auto 40px;
}
/*faq*/
/* To Do: fix font size, padding. margin*/
.accordion {
    list-style: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0;
}
.accordion li {
    margin: 10px 0;
}
.accordion section {
    border-bottom: 1px solid #ccc;
}
.accordion h1 {
    position: relative;
    cursor: pointer;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}
.accordion h1 span {
    position: absolute;
    right: 15px;
    color: #eb51c2;
}
.accordion h1.close span {
    transform: scale(1,-1);
}
.accordion h1::before {
    position: absolute;
    width: 15px;
    height: 2px;
    top: 15px;
    left: 15px;
    content: 'Q';
    color: #eb51c2;
}
.accordion .box p {
    position: relative;
}
.accordion .box p::before {
    position: absolute;
    content: 'A';
    color: #eb51c2;
    left: 0;
}
.box {
    display: none;
    margin: 0 3% 3% 3%;
    padding: 3%;
}
/*bottom*/
.bottom {
    color: #fff;
    background-color: #eb51c2;
    text-align: center;
}
.bottom h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    line-height: 35px;
    font-weight: bold;
}
.bottom img {
    display: block;
    width: 100%;
    max-height: 100%;
    height: auto;
}
.bottom a {
    margin: 0 auto;
}
/*footer*/
footer {
    background-color: #000;
}
